/**
    Styles 
    Ruben Storm 
    2015-07-17
*/

div.page-header {
    padding-top: 2px;
    padding-bottom:8px;
}

h1.section-header {
    padding-top: 4px;
    padding-bottom:2px;
    color: burlywood;
    font-variant: small-caps;
}

h3.license {
    color: crimson;
    font-variant: small-caps;
}